<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--接收数据的Mq队列地址-->
    <add key="ReceiveMq" value=".\private$\receive"/>
    <!--发送数据的Mq队列地址-->
    <add key="SendMq" value=".\private$\receiveCSA01"/>
    <!--数据发送到队列的数据格式，包括Xml(XmlMessageFormatter)、Binary(BinaryMessageFormatter)和ActiveX(ActiveXMessageFormatter)-->
    <add key="MessageType" value="Xml"/>
    <!--是否调试-->
    <add key ="IsDebug" value="true"/>
    <add key="DelayTime" value="5000" />
    <!--Log-->
    <add key="TraceLevel" value="Information" />
    <add key="EventLogName" value="CSATRANS" />
  </appSettings>
</configuration>