<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--接收数据的Mq队列地址-->
    <add key="ReceiveMq" value=".\private$\receiveCSA01"/>
    <!--发送数据的Mq队列地址-->
    <add key="SendMq" value=".\private$\sendCSA01"/>
    <!--CSA01文件目录-->
    <add key="CSA01FilePath" value="F:\csafile\CSA01.xml"/>
    <!--CSA01文件的保存目录-->
    <add key="CSA01FileSavePath" value="F:\csafile\CSA01"/>
    <!--数据发送到队列的数据格式，包括Xml(XmlMessageFormatter)、Binary(BinaryMessageFormatter)和ActiveX(ActiveXMessageFormatter)-->
    <add key="MessageType" value="Xml"/>
  </appSettings>
</configuration>