<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--接收企业报文的mq通道-->
    <add key="ReceiveCSA01MqAddress" value=".\private$\receiveCSA01"/>
    <!--发送总署报文的mq通道-->
    <add key="SendCSA01MqAddress" value=".\private$\sendCSA01"/>
    <!--网络科mq通道-->
    <add key="SendToNetWorkDepartMqAddress" value=".\private$\networkdepart"/>
    <!--接收总署回执报文的mq通道-->
    <add key="ReceiveCSA02MqAddress" value=".\private$\receiveCSA02"/>
    <!--CSA01文件目录-->
    <add key="CSA01FilePath" value="F:\csafile\CSA01.xml"/>
    <!--CSA02文件目录-->
    <add key="CSA02FilePath" value="F:\csafile\CSA02.xml"/>
    <!--文件的保存目录前缀-->
    <add key="CSAFileSaveDirect" value="F:\csafile"/>
    <!--无效报文保存路径-->
    <add key ="InValidedMessageSavePath" value="F:\csafile\Invalided"/>
    <!--数据发送到队列的数据格式，包括Xml(XmlMessageFormatter)、Binary(BinaryMessageFormatter)和ActiveX(ActiveXMessageFormatter)-->
    <add key="MessageType" value="Xml"/>
    <!--数据是否加签-->
    <add key="MessageSigh" value="false"/>  
    <!--是否进行XSD校验-->
    <add key ="XsdCheck" value="true"/>
    <!--XSD文件-->
    <add key="CyContaDeclareXsd" value="F:\csafile\xsdfile\Cy_Conta_Declare.xsd"/>
    <add key="CyContaDeclareResponsXsd" value="F:\csafile\xsdfile\Cy_Conta_Declare_Response.xsd"/>
    <add key="ContaDeclareXsd" value="F:\csafile\xsdfile\Conta_Declare.xsd"/>
    <add key="ContaDeclareResponseXsd" value="F:\csafile\xsdfile\Conta_Declare_Response.xsd"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接-->
    <add name="SQLConnString" connectionString="server=.;database=CSATRANS;uid=sa;pwd=xmg20162401"/>
  </connectionStrings>
</configuration>
